# Robot Framework
results/
log.html
report.html
output.xml

# Logs
*.log

# Python
_pycache_/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.venv/
venv/
env/
ENV/

# Build / distribuição
build/
dist/
.eggs/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db